<div class="container text-center">
  <div class="panel panel-background-gray">
    <h2>{{announcer}}</h2>
  </div>
</div>
<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-danger">
          <div class="panel-heading text-center">
            <div class="container-fluid panel-container">
              <div class="col-xs-4 text-left">
                OPPONENT
              </div>
              <div class="col-xs-8 text-right">
                {{opponent.hand.length}} Cards

              </div>
            </div>
          </div>
          <div class="panel-body panel-background-red horizontal-scrollbar">
            <app-opponent [deck]="deck" [topCard]="topCard" [isOpponentsTurn]="isOpponentsTurn" (opponentDone)="opponentDone($event)" (opponentWon)="opponentWon($event)">
              [Loading Opponent's Hand]
            </app-opponent>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="panel-body pile-background-color-{{colorClass}}">
  <ul class="list-inline center-block text-center img-list">
    <li>
      <img src="../assets/{{topCard.file}}" />
    </li>
    <li>
      <img class="zoom" (click)="drawPlayerCard()" src="../assets/card_back_alt_draw.png" />
    </li>
  </ul>
</div>
<br />
<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-info">
          <div class="panel-heading">
            <div class="container-fluid panel-container">
              <div class="col-xs-4 text-left">
                YOU
              </div>
              <div class="col-xs-8 text-right">
                Sort by:&nbsp;
                <div class="btn-group">
                  <button type="button" class="btn btn-default btn-xs" (click)="sortPlayerHandColor()">Color</button>
                  <button type="button" class="btn btn-default btn-xs" (click)="sortPlayerHandValue()">Value</button>
                </div>
              </div>
            </div>
          </div>
          <div class="panel-body panel-background-blue horizontal-scrollbar">
            <app-player [deck]="deck" [topCard]="topCard" [isOpponentsTurn]="isOpponentsTurn" (playerDone)="playerDone($event)" (playerWon)="playerWon($event)">
              [Loading Player's Hand]
            </app-player>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
