<div class="game-board">
  <button mat-icon-button class="close-button mb-4" (click)="onClose()">
    <mat-icon>close</mat-icon>
  </button>
  <div class="scoreboard">
    <div class="score">
      <span class="label">Jogador Humano:</span>
      <span class="points">{{gameService.playerScore}}</span>
    </div>
    <div class="score">
      <span class="label">Jogador Máquina:</span>
      <span class="points">{{gameService.computerScore}}</span>
    </div>
  </div>


<div class="hand computer-hand">
  <div class="cards">
    <div *ngFor="let card of gameService.computerHand">
      <div class="card" *ngIf="getCardImage(card)">
        <img [src]="getCardImage(card)" alt="{{card.color}} {{card.value}}">
      </div>
    </div>
  </div>
  <div class="buttons">
    <button class="arrow left" (click)="scrollLeft('computer')">&#9664;</button>
    <button class="arrow right" (click)="scrollRight('computer')">&#9654;</button>
  </div>
</div>

<div class="discard-pile">
  <div class="card" *ngIf="gameService.discardPile.length > 0">
    <span>{{ getCardText(gameService.discardPile[gameService.discardPile.length - 1]) }}</span>
  </div>
  <div class="card back" *ngIf="gameService.discardPile.length === 0">
    <span class="no-cards-message">Nenhuma carta na pilha de descarte</span>
  </div>
</div>



  <div class="hand player-hand">
    <div class="cards">
      <div *ngFor="let card of gameService.playerHand">
        <div class="card" *ngIf="getCardImage(card)"
             (click)="selectCard(card)"
             [class.selected]="selectedCard === card">
          <img [src]="getCardImage(card)" alt="{{card.color}} {{card.value}}">
        </div>
      </div>
    </div>
    <div class="buttons">
      <button class="arrow left" (click)="scrollLeft('player')">&#9664;</button>
      <button class="arrow right" (click)="scrollRight('player')">&#9654;</button>
      <button class="play" (click)="playCard()" [disabled]="!selectedCard">Jogar Carta</button>
      <button class="draw" (click)="drawCard()">Comprar Carta</button>
    </div>


</div>



