<app-header></app-header>

<form (ngSubmit)="onSubmit()" class="max-w-xl mx-auto p-4 shadow-md rounded-md">
  <button mat-icon-button class="close-button mb-4" (click)="onClose()">
    <mat-icon>close</mat-icon>
  </button>

  <div class="mb-4">
    <label for="name" class="block text-gray-800 text-lg font-medium mb-2">Adicionar Carta ao Baralho</label>
  </div>

  <div class="flex flex-col md:flex-row md:space-x-4 space-y-2 md:space-y-0">
    <div class="select-container">
      <select [(ngModel)]="selectedCard" [ngModelOptions]="{standalone: true}" class="custom-select">
          <option value="" disabled selected>Selecione uma Carta</option>
          <option *ngFor="let card of cards" [value]="card.id">{{card.name}}</option>
      </select>
  </div>

  <div class="select-container">
      <select [(ngModel)]="selectedDeck" [ngModelOptions]="{standalone: true}" class="custom-select">
          <option value="" disabled selected>Selecione um Baralho</option>
          <option *ngFor="let deck of decks" [value]="deck.id">{{deck.name}}</option>
      </select>
  </div>


    <div class="buttons-container mb-4">
      <button (click)="addCardToDeck()" class="add-card-button">
        Adicionar Carta
      </button>

      <button (click)="playNow()" class="add-card-button">
        Jogar Agora!
      </button>
    </div>
  </div>
</form>
